language: node_js
node_js: node
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
before_script:
  - npm run http-server &
  - sleep 2
script: npm run ci
addons:
  hosts: canjs.test
  sauce_connect: true
  firefox: '51.0'
deploy:
  provider: npm
  email: core@donejs.com
  api_key:
    secure: NM1JGKwjJ3kQUV4xYNeNukf4PK1bnb/15vA22bNx10N1tq5HWh/zQaQ4Esx29DEkroqXqF+wbQu8XYAC9GTOGo3E0mftWpvdY/8HSSw3RxkWWQCMlKU8TJUjH+2IUAbTbF8zxPP2E35wYBQ0nxeNWOg1PMN2cn0vnBs71DBXUzd+/u9i7esgyLGXqsAeNGNDPezAzwdAvUCwIIgaMn0Vr4tGDCeySIIpyoI4KWKQTWri7cPuXDEbxMHI6G9yWfQjsKMhZioWpBhc2hzFsygRt/W3GeNXb56SzkmmP+AVlUjy+EYJ4W8SpQd83VSWzOkwUZpMXTHKyOMkXooYkqlTZokBbRvSnN5Xnk3PYk2skkOlYh9PrmWvF689WHiMOuTerV22E8R7157qoWZRnvlsVEvHRT7s4VSXItz/oaz8nOwkdYlpskipE1UmWKcxca3BZUg50zCK5dkYdAbeBphod2qISU1mKeLvpmNjeIAfiJzEKIIhGF3Ln35doRYKT4yAz/9LjK6lcuTvTk3GjUHW3/XMfqYzqs7S+CopKAh3vrZd04uCe9aPxYEGL5MGJi712hLxis5+79EkrlE7XK7LGTk1K5wcZkBDxvHDiIzmhnPxSMkJM0FXEBPfbJUspRNDOTNSONc19sdRr3S4O3NsKiudOJw8qFvwROlHEAlF3eY=
  on:
    tags: true
    repo: canjs/can-reflect
